h1{
    text-align: center;
}
head, main{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

button{
    width: 80px;
    border: none;
    height: 26px;
    font-size: 18px;
    color: black;
    cursor: pointer;
    border-radius: 10px;
}

#on{
    background-color: green;
    
}

#off{
    background-color: red;
    
}
#on:hover{
    background-color: black;
}
