body{
    background: linear-gradient(90deg ,rgb(230, 208, 208)   0%, rgb(0, 0, 0)) 100%;
    text-align: center;
}
button{
height: 3em;
width: 6em;
border: none;
color: aliceblue;
}
button:hover{
cursor: pointer;
}
.start{
    background-color: green;
}
.pause{
    background-color: gray;
}
.stop{
    background-color: red;
}